@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@font-face {
  font-family: "Gill Sans";
  src: url("/gs.woff") format("woff");
}
@font-face {
  font-family: "Gill Sans Condensed";
  src: url("/gsc.woff") format("woff");
}

@import "colors";
@import "sizes";

@mixin heading-font-1 {
  font-family: "Gill Sans Condensed", sans-serif;
  color: $primary-color-5;
  font-size: $font-xxxxxl;
  letter-spacing: -2px;
}

@mixin hero-font-1 {
  font-family: "Gill Sans Condensed", sans-serif;
  color: $primary-color-5;
  color: $primary-color-5;
  font-size: $font-xxxxxxxl;
  letter-spacing: -2px;
}

@mixin tagline-font {
  font-family: "Gill Sans", sans-serif;
  color: $primary-color-1;
  font-size: $font-baseline;
}

@mixin body-font {
  font-family: "Gill Sans", sans-serif;
  color: $primary-color-1;
  font-size: $font-large;
  font-weight: 400;
}

@mixin special-message-font {
  font-family: "Gill Sans", sans-serif;
  color: $primary-color-1;
  font-size: $font-xxxl;
  line-height: 1.2;
  font-weight: 400;
  @media (max-width: $small-breakpoint) {
    font-size: $font-large;
  }
}

@mixin legal-font {
  font-family: "Gill Sans", sans-serif;
  color: $grey-7;
  font-size: $font-baseline;
  font-weight: 400;
}

@mixin code-font {
  font-family: "Source Code Pro", monospace;
  color: $grey-1;
  font-weight: 400;
  font-size: $font-baseline;
}

@mixin button-font {
  font-family: "Gill Sans", sans-serif;
  color: $white;
  font-weight: 700;
  font-size: $font-xl;
}
